<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omarchy Pokedex</title>
</head>
<body>
    <h1>Enter Your Pokemon</h1>
    <p>Explore the world of Pokemon!</p>

    <form action="/pokemon" method="POST">
        <label for="pokemon_name">Pokemon Name:</label><br>
        <input type = "text" name="pokemon_name" placeholder="Give me your Pokemon" required><br><br>
        <button type="submit" value="Get Pokemon Info">Submit</button>
    </form>

<br><br>

    <!--<form action="/greet" method="POST">
        <input name="username" placeholder="Type your name">
        <button type="submit">Say Hi!</button>
    </form>
-->
</body>
</html>